[submodule "LLMCompass"]
	path = LLMCompass
	url = git@github.com:hwpeng/LLMCompass.git
	branch = reallm

[submodule "reallm_v1/examples/LLMcompass"]
	path = reallm_v1/examples/LLMCompass
	url = git@github.com:PrincetonUniversity/LLMCompass.git
	branch = ISCA_AE