basejump_stl/
bsg_cadenv/
DVEfiles/
out/
results/
outputs/
.vscode/
*.vpd
*.swp
*.pyc
*.log
*.pdf
*.pkl
*.ini
ucli.key
vc_hdrs.h
.ipynb_checkpoints
__pycache__
pyenv/
LC_matmul_count/
systolic_array_model/
mem_simulator/
plot/